* {
    -fx-tab-color: #70a7ff;
    -fx-tab-selected-color: #4287f5;

    -fx-default-dark: #83c9f7;
    -fx-default-medium: #A9DCFD;

    -fx-default-light: #B5E1FE;
    -fx-default-extra-light: #C9E9FE;

    -fx-default-text-fill: #FFFFFF;
}