* {
    -fx-tab-color: #A9DCFD;
    -fx-tab-selected-color: #83c9f7;

    -fx-default-dark: #CB6078;
    -fx-default-medium: #ED969F;

    -fx-default-light: #EAA8AD;
    -fx-default-extra-light: #F3C2C3;

    -fx-default-text-fill: #FFFFFF;
}