/* Fonts */

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

/* The Dark Theme For Creating!!! TODO: REMOVE */
* {
    -fx-tab-color: #70a7ff;
    -fx-tab-selected-color: #4287f5;
    -fx-default-dark: #2B2B2B;
    -fx-default-medium: #313335;
    -fx-default-light: #3c3f41;
    -fx-default-extra-light: #61676b;
    -fx-default-text-fill: #ffffff;
}

/* Defaults */
.default-text-field {
    -fx-background-color: -fx-default-dark;
    -fx-text-fill: -fx-default-text-fill;
    -fx-font-family: Montserrat;
}

.default-button {
    -fx-background-color: -fx-default-dark;
    -fx-text-fill: -fx-default-text-fill;
    -fx-font-family: Montserrat;
    -fx-cursor: hand;
}

.default-button:hover {
    -fx-background-color: -fx-default-extra-light;
}

.default-choose-button {
    -fx-background-color: #365880;
    -fx-text-fill: #ffffff;
    -fx-font-family: Montserrat;
    -fx-cursor: hand;
}

.default-label {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-default-text-fill;
    -fx-font-family: Montserrat;
}

.default-split-pane {
    -fx-color: -fx-default-dark;
    -fx-box-border: -fx-default-dark;
    -fx-background-color: -fx-default-light;
}

.default-combo-box {
    -fx-background-color: -fx-default-dark;
}

.default-combo-box .list-cell {
    -fx-focus-color: transparent;
    -fx-background: -fx-default-dark;
    -fx-background-color: transparent;
    -fx-color: -fx-default-dark;
    -fx-text-fill: -fx-default-text-fill;
    -fx-font-family: Montserrat;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.default-combo-box .combo-box-popup .list-view {
    -fx-background-color: -fx-default-medium, -fx-default-medium;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.default-combo-box .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -fx-default-light, -fx-default-light;
    -fx-cursor: hand;
}

.default-combo-box .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: -fx-default-dark, -fx-default-dark;
}

.default-check-box .box {
    -fx-background-color: -fx-default-dark;
    -fx-border-color: -fx-default-dark;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

.check-box:selected .mark {
    -fx-background-color: -fx-default-text-fill;
}

.anchor-section {
    -fx-background-color: -fx-default-medium;
}

/* Tab Pane */

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #E1E1E1, -fx-default-dark;
    -fx-background-insets: 0, 0 0 1px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: -fx-default-dark;
    -fx-background-insets: 0 0 1px 0;
    -fx-padding: 1.25em 1.5em;
    -fx-cursor: hand;
}

.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {
    -fx-text-fill: -fx-tab-color;
    -fx-font-family: 'Montserrat';
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-tab-selected-color, -fx-default-medium;
    -fx-background-insets: 0, 0 0 2px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {
    -fx-text-fill: -fx-tab-selected-color;
    -fx-font-family: 'Montserrat';
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
    -fx-opacity: 0;
}

/* Textures */
#texturesList {
    -fx-background-color: transparent;
}

#texturesList:focused {
    -fx-background-color: transparent;
}

.list-row-cell:odd {
    -fx-background-color: -fx-default-medium;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-row-cell:event {
    -fx-background-color: -fx-default-dark;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/* Launcher */
#launcher-pane {
    -fx-background-color: -fx-default-dark;
}

#new-proj-btn {
    -fx-background-color: -fx-default-medium;
    -fx-cursor: hand;
    -fx-text-fill: -fx-default-text-fill;
    -fx-font-family: "Montserrat";
    -fx-font-size: 15px;
}

#new-proj-btn:hover {
    -fx-background-color: -fx-default-light;
}