@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
    -fx-tab-color: #70a7ff;
    -fx-tab-selected-color: #4287f5;
    -fx-default-dark: #2B2B2B;
    -fx-default-medium: #313335;
}

#anchor-pane {
    -fx-background-color: -fx-default-dark;
}

#new-proj-btn {
    -fx-background-color: -fx-default-medium;
    -fx-cursor: hand;
    -fx-text-fill: #eeeeee;
    -fx-font-family: "Montserrat";
    -fx-font-size: 15px;
}

#new-proj-btn:hover {
    -fx-background-color: #2e3133;
}